.theme-button {
    margin-left: auto;
}

.t_container {
    margin-left: 15px;
    margin-top: 10px
}

.centered {
    text-align: center;
    
}

.t_heading {
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.imgage {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 10px;
    transition: transform 0.3s ease;
    justify-content: center;
}

.imgage::after {
    content: "";
    display: table;
    clear: both;
}

.imgage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.t_heading:hover {
    background-color: gray;
    transition: background-color 0.3s ease;
}

.contained-subtitle {
    text-align: center;
}

.dmenu {
    width: 66vw;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.response_text {
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.map-container {
    text-align: center;
}

.map-image {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

.map-description {
    margin: 10px auto 0;
    width: 50%;
    font-size: 1rem;
    line-height: 1.5;
}